.container {
  max-width: 600px;
}

.container_ingredients {
  composes: container;
}

.container_items {
  composes: container;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
