.container {
  max-width: 600px;
}

.element {
  display: flex;
  gap: 11px;
  align-items: center;
}

.container_constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: scroll;
  max-height: 464px;
}

.container_constructor::-webkit-scrollbar {
  width: 8px;
}

.container_constructor::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.container_constructor::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 51px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
